- is_project_overview = local_assigns.fetch(:is_project_overview, false)

.tree-ref-container.gl-display-flex.gl-flex-wrap.gl-gap-2.mb-2.mb-md-0
  .tree-ref-holder
    #js-tree-ref-switcher{ data: { project_id: @project.id, project_root_path: project_path(@project) } }

  #js-repo-breadcrumb{ data: breadcrumb_data_attributes }

#js-blob-controls
.tree-controls
  .d-block.d-sm-flex.flex-wrap.align-items-start.gl-children-ml-sm-3.gl-first-child-ml-sm-0<
    = render_if_exists 'projects/tree/lock_link'
    #js-tree-history-link{ data: { history_link: project_commits_path(@project, @ref), is_project_overview: is_project_overview.to_s } }

    = render 'projects/find_file_link'
    = render 'shared/web_ide_button', blob: nil
    = render 'projects/buttons/download', project: @project, ref: @ref

    .project-clone-holder.d-none.d-md-inline-block>
      = render "projects/buttons/clone", dropdown_class: 'dropdown-menu-right'

  .project-clone-holder.d-block.d-md-none.mt-sm-2.mt-md-0.ml-md-2>
    = render "shared/mobile_clone_panel"
